/*                                                                            */
/*               ╔╗╔┌─┐┌┬┐┌─┐╔═╗┬  ┬┌─┐┬─┐┌─┐┬  ┌─┐┬ ┬                        */
/*               ║║║│ │ │ └─┐║ ║└┐┌┘├┤ ├┬┘├┤ │  │ ││││                        */
/*               ╝╚╝└─┘ ┴ └─┘╚═╝ └┘ └─┘┴└─└  ┴─┘└─┘└┴┘                        */
/*                                                                            */
/*               article_header.module.sass created 2024/12/19                */
/*               by Richard JUAN (contact@richard-juan.com)                   */
/*                                                                            */
/*               Copyright © 2024 Richard JUAN. All rights reserved           */
/*                                                                            */

$image_w: 150px
$image_h: 150px

$low_image_w: 100px
$low_image_h: 100px
$low_low_image_w: 70px
$low_low_image_h: 70px

.article
    color: #cecece
    display: flex
    margin: 1rem auto
    padding: 1rem
    text-align: center
    border-radius: 1rem
    box-shadow: inset rgba(60, 70, 85, 0.5) 0px 0px 40px 0px, inset rgba(60, 70, 85, 0.5) 0px 0px 40px 0px, inset rgba(0, 0, 0, 1) 0px 0px 36px -24px

.article p
    width: 100%
    border-radius: 5px
    margin: 0px 0px 10px 0px
    color: #a1b7f5
    font-size: 24px

.article_title_left
    text-align: right
.article_title_right
    text-align: left

.article:link
    text-decoration: none

.article:visited
    text-decoration: none

.article:hover
    background-color: #86868613
    color: #ffffff
    text-decoration: none
    transition: 1s

.article_description
    width: 100%
    height: 100%
    text-align: justify
    overflow: hidden
    font-size: 16px

.article_text
    flex-grow: 1
    text-align: center
    padding: 0px 15px 0px 15px

.article_image
    flex-shrink: 0
    width: $image_w
    height: $image_h

.article_image_right
    display: flex
    flex-shrink: 0
    align-items: center
    justify-content: center

.article_image_left
    display: flex
    flex-shrink: 0
    align-items: center
    justify-content: center
    order: 1

@media only screen and (min-width: 900px)
    .article_empty_block_left
        flex-shrink: 0
        width: $image_w
        height: $image_h
        order: -1
    .article_empty_block_right
        flex-shrink: 0
        width: $image_w
        height: $image_h
    .article p
        font-size: 32px
    .article_description
        font-size: 24px
        padding-bottom: 20px

@media only screen and (max-width: 860px) and (min-width: 450px)
    .article p
        font-size: 28px
    .article_description
        font-size: 20px

@media only screen and (max-width: 390px) and (min-width: 10px)
    .article_image
        width: $low_low_image_w
        height: $low_low_image_h
    .article p
        font-size: 14px
    .article_description
        font-size: 10px

@media only screen and (max-width: 420px) and (min-width: 390px)
    .article_image
        width: $low_low_image_w
        height: $low_low_image_h
    .article p
        font-size: 16px
    .article_description
        font-size: 12px

@media only screen and (max-width: 450px) and (min-width: 420px)
    .article_image
        width: $low_image_w
        height: $low_image_h
    .article p
        font-size: 16px
    .article_description
        font-size: 12px
